@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Play', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1e1b1e;
}

h1 {
    font-family: 'play';
    font-weight: 999;
    font-size: 2.8rem;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    color: rgb(158, 158, 158);
}

p {
    font-size: 1.2rem;
    letter-spacing: 0;
}

a {
    color: black;
    text-decoration: none;
}

#slingers {
    display: flex;
    flex-direction: row;
    transform: translateY(-10%);
    justify-content: center;
    margin-bottom: -2vw;
}

.slingers {
    width: 33%;
    height: auto;
}


/* Nav begin */
nav {
    border-bottom: 0.2vw solid #252325;
    padding: 0.6vw 0 0.8vw;
    align-items: center;
    margin: 0;
}

.logolinks {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    height: min-content;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 7.5vw;
    gap: 1.5vw;
    font-weight: 999;
}

.navlogo {
    display: flex;
    margin: 0 0 0vw 7.5vw;
    padding: 0.2vw;
    width: fit-content;
    height: 100px;
    background-color: #2b282b;
    border-radius: 0.5vw;
    box-shadow:
        0 0.15vw 0.05vw 0.1vw rgb(159, 14, 203),
        0.2vw 0.05vw 0.05vw 0 rgb(159, 14, 203),
        -0.2vw 0.05vw 0.1vw 0 rgb(159, 14, 203);
}

.navlink {
    padding: 1vw;
    box-shadow: inset 0 0 0 0 black;
    color: white;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border 0.3s ease-in-out;
    text-decoration: none;
    border: 0.2vw solid transparent;
    border-radius: 0.5vw;
    font-size: 1.4rem;
}

.navlink:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 black;
    border-bottom: 0.2vw solid rgb(159, 14, 203);
}

header {
    display: flex;
    flex-direction: column;
    background-color: #2f2d2f;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 2vw;
    border-bottom: 0.2vw solid #252325;
}


/* Main Begin */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.2vw solid #252325;
    padding-bottom: 6vw;
    background: linear-gradient(180deg, #1e1b1e 25%, #2f2d2f 85%);
}

form {
    display: grid;
    column-gap: 5%;
    grid-template-columns: 45% 45%;
    justify-content: center;
    min-width: fit-content;
    padding: 1vw 2vw;
    background-color: #2f2d2f;
    color: white;
    border: 0.4vw solid #252325;
    border-radius: 0.8vw;
    transform: translateY(7%);
    box-shadow: 0 0 0.7vw rgb(0, 0, 0),
        0 0 1.5vw rgb(23, 22, 40);
}

.wide-item {
    grid-column-start: 1;
    grid-column-end: 3;
}

#form-section h2 {
    text-align: center;
    font-size: 3rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

form button {
    display: flex;
    padding: 0.4vw 8vw;
    margin: 1.1vw 0 0;
    font-size: 1.4rem;
    font-family: play;
    max-width: 50%;
    align-self: center;
    justify-content: center;
    border-radius: 0.4vw;
    color: white;
    background-color: rgb(159, 14, 203);
    border: 0.2vw solid 0.2vw solid rgb(159, 14, 203);
    transition: 0.15s ease-in-out
}

form button:hover {
    transition: 0.1s ease-in-out;
    background-color: white;
    color: black;
    box-shadow: 0 0 0.75vw rgb(255, 255, 255);
    transform: scale(1.05);
}

input,
textarea,
select {
    padding: 0.5vw;
    border-radius: 0.4vw;
    border: 0.3vw solid rgb(159, 14, 203);
    margin: 0.3vw 0 1.1vw;
    font-family: play;
    font-size: 1.1rem;
    outline: none;
    transition: 0.15s ease-in-out;
}

textarea {
    transition: none;
    min-width: 100%;
    max-width: 0;
    min-height: 5vw;
    max-height: 15vw;
    border: 0.3vw solid #252325;
}

input:valid,
select:valid {
    transition: 0.15s ease-in-out;
    border: 0.3vw solid rgb(163, 170, 219);
}

input:focus:invalid {
    transition: 0.15s ease-in-out;
    border: 0.3vw solid rgb(151, 29, 29);
}



/* Footer begin */
footer {
    height: min-content;
    color: white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 2vw;
}

footer h2 {
    color: white;
}

.footer-left {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 7.5vw;
}

.copyright1 {
    margin: 0.5vw 0;
}

.socials {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    gap: 1.5vw;
}

.social {
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 1.8rem;
    color: white;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.social:hover {
    transition: all 0.2s ease-in-out;
    scale: 1.3;
}

#footer-right {
    display: flex;
    flex-direction: row;
    padding: 0 7.5vw;
    gap: 2vw;
    align-items: center;
    font-size: 1.4rem;
}

#footer-right a {
    color: rgb(111, 109, 115);
    transform: translateY(1.8vw);
    padding-bottom: 1vw;
    border-bottom: 0.2vw solid transparent;
    transition: 0.15s ease-in-out;

}

#footer-right a:hover {
    transition: 0.15s ease-in-out;
    color: white;
    border-bottom: 3px solid rgb(159, 14, 203);
}


@media only screen and (max-width: 800px) {
    .product {
        flex-direction: column;
        align-items: center;
    }

    #footer-right {
        flex-direction: column;
    }
}
